@charset "utf-8";
/* 你自己的样式 */
.backimg {
    position: absolute;
    display: block;
    background: url(../../../temp/images/background.jpg) repeat 0 0;
    background-size: 100% 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.overlay {
    position: absolute;
    display: block;
    background: url(../../../temp/images/opaqueBG.png) repeat 0 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

}
.form-inline{
    text-align: center;
    margin-top: 6%;
}
.subject{
     margin-top:30px; 
    margin-bottom:20px; 
}
.select{
    margin-right:10px; 
}